<!-- <p>Sarfaroj Gayen</p>
<button nz-button nzType="primary">Primary Button</button>

<nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
  <nz-card-meta
    nzTitle="Europe Street beat"
    nzDescription="www.instagram.com"
  ></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img
    alt="example"
    src="https://static.wixstatic.com/media/f1a62b_79326105b8b54a95b6669b2fda096f27~mv2.jpg/v1/fill/w_956,h_630,al_c,q_85/f1a62b_79326105b8b54a95b6669b2fda096f27~mv2.webp"
  />
</ng-template> -->
<section class="dash-section">
  <div class="chat">
      <div class="chat-table">
        <div class="header">
          <p>i-Chat</p>
        </div>
        <app-chat-dash></app-chat-dash>
      </div>
  </div>
</section>

